/* Troop Editor page**/
/* Tabs containing the form */
#troopCreation, #actionEdit
{
    overflow: auto;
    grid-column:3/22;
    grid-row: 2/-1;
    grid-column-gap: 1%;
    padding : 0.5rem;
    
    background-color: rgba(0,0,0,0.5);
    color:rgb(200,200,200);

    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(20, 1fr);

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    border: 2px solid black;
}
/* Menu to switch between tabs */
#troopCreationMenu
{
    padding-top:0.5rem; 
    background-color:rgba(0,0,0,0.75); 
    grid-column: 22/23; 
    grid-row:3/6; 
    border-radius: 1rem; 
    border-top-left-radius:0rem; 
    border-bottom-left-radius:0rem;
    border-left:1px solid rgb(240,180,60);
}
/* TABLES */
#troopCreation table, #actionEdit table
{
    table-layout: fixed;
    grid-column : 1/-1;
    width:90%;
    margin-left : 5%;
    border : 1px solid rgb(250, 180, 60);
    text-align : center;
}
/* Inputs within tables */
#troopCreation table input, #troopCreation table select, #actionEdit table input, #actionEdit table select, #troopCreation table p
{
    margin-right:0;
    width: 90%;
    padding:0;
    border:none;
    text-align : center;
}
/* Ability Score Inputs */
#troopCreation table input.asinput
{ 
    width:2rem;
    text-align : right;
    background-color:rgba(0,0,0,0.5);
    padding:0.5rem;
    border : none; 
}